html, body {
 
    overflow-x: hidden;
}

body {
    background: white;
    /* background: radial-gradient(rgba(54, 17, 69, 1), rgba(48, 20, 59, 1));;
     font-family: 'Roboto Mono', Arial, sans-serif; */
}

/* vexflow stuff */

.clefsandsig {
  background: blue;
  background-color: blue;
 }

.vexcontainer {
  /* background: beige; */
  overflow: hidden;
  /* border: 5px solid deeppink; */
}

.vexsvg {
        position: absolute;
}

/* transparent cursor */

.cursor {
	opacity: 0.3;
	background: #ffd500;
	left: 720px;
}

/* the notes on indicators; these light up whenever a key is pressed */

.noteon {
        width: 50px;
        height: 4px;
        position: absolute;
        left: 720px;
        top: 300px;
        background: green;
        background-color: green;
}

.hairline {
        opacity: 1;
        background: red;
        left: 745px;
}

#clefsandsig {
	/* left: 224px; */
	width: 320px;
	/* hacked graditent to add fading away notes */
	-webkit-mask-image:-webkit-linear-gradient(right, rgba(0,0,0,0), rgba(0,0,0,1), rgba(0,0,0,1), rgba(0,0,0,1));
	mask-image: linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,1), rgba(0,0,0,1), rgba(0,0,0,0));
}

#controls {
  padding: 15px;
  left: 0px;
  width: 200px;
}

#controls > button {
  margin: 5px;
}

/* box for user facing messages */

.info-wrapper {
    overflow: hidden;
    height: 50px;
}

.info {
  display: hidden;
}

.toastwarn {
  position: fixed;
  bottom: 30px;
  right: 10px;
  position: absolute;
  /*left: 220px;
  top: 670px; */
  height: 50px;
  width: 300px;
  border-color: red; 
  border-width: 2; 
  border-style: solid;
  color: #000000;
  background: yellow;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
  border-radius: 10px;
  z-index: 100;
}


.toastinfo {
  position: fixed;
  bottom: 30px;
  right: 10px;
  position: absolute;
  /*left: 220px;
  top: 670px; */
  height: 50px;
  width: 300px;
  border-color: greenyellow; 
  border-width: 2; 
  border-style: solid;
  color: #000000;
  background: green;
  text-align: center;
  color: white;
  vertical-align: middle;
  line-height: 50px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
  border-radius: 10px;
  z-index: 100;
}

 /* temp style here */
    body {
      font-family: "Lato", sans-serif;
      margin: 0px;
    }

    /* bar containing logo and menu */
    .topBar {
      background-color: #111;
      display: flex;
    }

    /* left hand menu with links */
    .mainTab {
      background-color: #111;
      width: 550px;
      font-family: "Lato", sans-serif;
      /* display: flex; */
      text-align: left;
      align-items: left;
      color: #ffffff;
      display: inline-block;
      padding: 10px;
    }


    /* right hand menu with links */
    .topMenu {
      background-color: #111;
      width: 300px;
      font-family: "Lato", sans-serif;
      display: flex;
      text-align: right;
      align-items: right;
      display: inline-block;
      padding: 10px;
    }

.intervallinkactive {text-decoration: none; font-size: 36px;}

a.intervallinkactive:link {color: black;}
a.intervallinkactive:visited {color: black;}
a.intervallinkactive:hover {color: black;}

.intervallinkinactive {text-decoration: none; font-size: 36px;}

a.intervallinkinactive:link {color: gray;}
a.intervallinkinactive:visited {color: gray;}
a.intervallinkinactive:hover {color: gray;}



/*
    .karma {
      background-color: #111;
      color: white;
      width: 50px;
      font-family: "Lato", sans-serif;
      display: flex;
      text-align: right;
      align-items: right;
      display: inline-block;
      padding: 10px;
    }
*/

	.karma {
		background-color: #fff;
		color: black;
		border-radius: 10px;
		font-family: "Lato", sans-serif;
		text-align: right;
		display: inline-block;
		margin: 5px;
		height: 1em;
		padding: 5px;
	    font-weight: bold;
	}

        .etcard {
                background-color: #fff;
                color: black;
                border-radius: 10px;
                font-family: "Lato", sans-serif;
                text-align: right;
                display: inline-block;
                margin: 5px;
                height: 1em;
                padding: 5px;
            font-weight: bold;
        }


.streak {
	background-color: #fff;
	color: black;
	border-radius: 10px;
	font-family: "Lato", sans-serif;
	text-align: right;
	display: inline-block;
	margin: 5px;
	height: 1em;
	padding: 5px;
	font-weight: bold;
}

    /* left hand side logo
        TODO: remove unnecesary styles
        */
    .logo {
      background-color: #111;
      font-family: "Lato", sans-serif;
      display: flex;
      text-align: left;
      width: 100px;
      text-decoration: none;
      font-size: 18px;
      color: #ffffff;
      padding: 10px;
    }

    .topButtons {
      background-color: #1f1f1f;
      width: 100vw;
      margin: auto;
      font-family: "Lato", sans-serif;
      align-items: center;
      text-align: center;
      display: inline-block;
    }

    .pieceTitle {

      color: white;
      font-size: 28px;
      height: 32px;
      /* padding-top: 8px; */
      font-style: italic;
      margin: auto;
      font-family: "Lato", sans-serif;
      display: flex;
      align-items: center;
      text-align: center;
      display: block;
      overflow: hidden;

    }

    .topMenu a {
      padding: 2px 12px 2px 14px;
      text-decoration: none;
      font-size: 18px;
      color: #ffffff;

    }

    .mainTab a {
      padding: 2px 12px 2px 14px;
      text-decoration: none;
      font-size: 18px;
      color: #ffffff;

    }


    .sidebar {
      height: 80px;
      width: 100vw;
      position: relative;
      z-index: 1;
      top: 0;
      left: 0;
      background-color: #1f1f1f;
      /* display: inline-block; */
      transition: 0.5s;
    }

    .insidebar {
      height: 80px;
      width: 100vw;
      /* position: relative; */
      overflow: hidden;
      transition: 0.4s;
    }

    .insidebar a {
      padding: 8px 8px 8px 32px;
      text-decoration: none;
      font-size: 25px;
      color: #ffffff;
      display: block;
      transition: 0.3s;

    }

    .sidebar a {
      padding: 2px 12px 2px 14px;
      text-decoration: none;
      font-size: 25px;
      color: #ffffff;
      display: block;
      transition: 0.3s;
    }

    .sidebar a:hover {
      color: #f1f1f1;
    }

    /* .sidebar .closebtn {
          position: absolute;

          bottom: -15px;
          left: 50%;
          font-size: 40px;
          margin-left: 0px;
          background-color: #FFA500;
          border-radius: 50%;
          z-index: 1;
        } */

    .sidebar .closebtn {
      position: absolute;
      bottom: -12px;
      left: 35px;
      font-size: 20px;
      margin-left: 0px;
      background-color: #1f1f1f;
      border-radius: 10%;
      z-index: 1;
    }

    .playGroup {
      position: absolute;
      /* bottom: -15px; */
      display: inline-block;
      font-size: 40px;
      display: flex;
      z-index: 100;
      width: 100vw;
      height: auto;
      margin: 0 auto;
      padding: 10px;
      position: relative;
    }

    .playGroupWrapper {
      margin: auto;
      /* width: 300px; */
      /* border: 3px solid green; */
      padding: 0px;
      display: flex;
      margin: 15px;
    }

    .playGroup {
      position: absolute;
      /* bottom: -15px; */
      display: inline-block;
      font-size: 40px;
      display: flex;
      z-index: 100;
      width: 100vw;
      height: auto;
      margin: 0 auto;
      padding: 10px;
      position: relative;
    }

    .playGroupWrapper div {
      width: 60px;
      margin: auto;
    }

    .openbtn {
      font-size: 20px;
      cursor: pointer;
      background-color: #1f1f1f;
      color: white;
      padding: 10px 15px;
      border: none;
    }

    .openbtn:hover {
      background-color: #444;
    }

    #main {
      transition: margin-left .5s;
      padding: 16px;
    }

    /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
    @media screen and (max-height: 450px) {
      .sidebar {
        padding-top: 15px;
      }

      .sidebar a {
        font-size: 18px;
      }
    }

    figure {
      display: -ms-inline-flexbox;
      display: -webkit-inline-box;
      display: inline;
    }

    figure button[name="play"] {
      width: 50px;
      height: 50px;
      background: #ff5500;
      border: none;
      border-radius: 100%;
      margin: auto;
      cursor: pointer;
    }

    figure button[name="pause"] {
      width: 50px;
      height: 50px;
      background: #ff5500;
      border: none;
      border-radius: 100%;
      margin: auto;
      cursor: pointer;
    }

    figure button[name="pause"]::after {
      content: '';
      display: inline-block;
      position: relative;
      top: 1px;
      left: 3px;
    }

    figure button[name="pause"]:disabled {
      cursor: not-allowed;
      background-color: rgb(92, 92, 92) !important;
    }



    figure button[name="rewind"] {
      width: 50px;
      height: 50px;
      background: #ff5500;
      border: none;
      border-radius: 100%;
      margin: auto;
      cursor: pointer;
    }

    figure button[name="rewind"]::after {
      content: '';
      display: inline-block;
      position: relative;
      top: 1px;
      left: 3px;
    }

    .buttons {

      margin: auto;

    }

    figure button[name="rewind"]:disabled {
      cursor: not-allowed;
      /* background-color: rgb(229, 229, 229) !important; */
      background-color: rgb(92, 92, 92) !important;
    }

    figure button[name="play"]:focus {
      outline: 0;
      border: 1px solid hsl(210, 58%, 69%);
      box-shadow: 0 0 0 3px hsla(210, 76%, 57%, 0.5);
    }

    figure button[name="play"]::after {
      content: '';
      display: inline-block;
      position: relative;
      top: 1px;
      left: 3px;
      border-style: solid;
      border-width: 10px 0 10px 20px;
      border-color: transparent transparent transparent white;
    }

    figure button[name="play"]:disabled {
      cursor: not-allowed;
      background-color: rgb(92, 92, 92) !important;
    }

    .repertoire {
      display: flex;
      /* background-color: red; */
      margin: 15px;
      color: white;
    }

    .bottombox {
      display: flex;
      background-color: red;
      margin: 15px;
      color: white;
    }

    /* I've dropped this one from the html because it expanded the div to the right */

    .settings {
      flex: 1;
      /*grow*/
    }

    .vl {
      border-left: 1px solid rgb(92, 92, 92);
      height: 210px;
      width: 1px;
    }

    .selectMidi {
      float: right;
      width: 350px;
      text-align: center;
      color: white;

    }

    .selectdevice {
      float: left;
      width: 350px;
      text-align: center;
      color: white;
      text-align: right;
      margin: 15px;
    }

    .hr {
      border: 0;
      border-top: 1px solid rgb(71, 71, 71);
      width: 80%;
      padding: 5px;
    }

    .midibutton {

      color: white;
      /* Text color */
      background-color: transparent;
      /* Remove background color */
      border: 1px solid rgb(92, 92, 92);
      /* Border thickness, line style, and color */
      text-transform: uppercase;
      /* Make letters uppercase */
      padding: 15px;
      margin: 5px;
    }

    .midibutton option {
      appearance: none;
      margin: 40px;
      background: rgb(92, 92, 92) !important;
      color: #fff;
      margin: 5px;
      padding: 5px !important;
    }

	input[type=checkbox] {
	  transform: scale(1.2);	
	}

    .midiselect {
      width: 350px;
      margin: auto;
      text-align: center;

    }

    .scroller {
      border-color: green;
      border-width: 2px;
      border-style: solid;
      /* position: absolute; */
      height: 10px;
      width: 100%;
      z-index: 20;
      margin-bottom: 10px;
  }
  
  .infobox {
    display: flex;
    /* background-color: red; */
    margin-left: 15px;
    margin-right: 15px;
    color: black;
  }

  .tickstatsbox {

      border-color: rgb(31 31 31 / 5%);
      border-width: 2px;
      border-style: solid;
      height: 360px; /* keep this a multiple of 180 to avoid problems in the index.js code for displaying this box */
      width: 100%;
      z-index: -1;
      margin-bottom: 5px;
      padding: 5px;
      overflow: auto;

  }

  .sgstatsbox {

      border-color: rgb(31 31 31 / 5%);
      border-width: 2px;
      border-style: solid;
      height: 360px; /* keep this a multiple of 180 to avoid problems in the index.js code for displaying this box */
      width: 100%;
      z-index: -1;
      margin-bottom: 5px;
      padding: 5px;
      overflow: auto;

  }


  .bottominfobox {

      border-color: rgb(31 31 31 / 5%);
      border-width: 2px;
      border-style: solid;
      height: 40px;
      width: 100%;
      z-index: -1;
      margin-bottom: 5px;
      padding: 5px;
      overflow: auto;
  
  }

  .circular-chart {
    display: block;
    /* margin: 10px auto; */
    max-width: 170px;
    max-height: 170px;
    height: 170px;
    min-height: 170px;
    position: absolute;
    left: 0;
    top: 0;
    left: 20px;
    min-width: 170px;
  }
  
  .circle {
    /* stroke: #4CC790;  */
    stroke: #ff5500;
    fill: none;
    stroke-width: 2.8;
    stroke-linecap: round;
    animation: progress 1s ease-out forwards;
  }

  .circleshadow {
    /* stroke: #4CC790;  */
    stroke: rgb(221,221,221);
    fill: none;
    stroke-width: 2.8;
    stroke-linecap: round;
    animation: progress 1s ease-out forwards;
  }
  
  @keyframes progress {
    0% {
      stroke-dasharray: 0 100;
    }
  }

  .footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 20px;
    text-align: center;
    color: white;
    background-color: rgb(31, 31, 31);
    z-index: 100;
  }
  
  .footer a {
    color: white;
  }
  .modesettings {

    color: white;
    display: flex;
    justify-content: flex-end;
    padding: 10px;

  }

  .modebox {
    text-align: center;

    /* flex-basis: 20px; */
    /* margin-left: auto; */
    float: left;
    padding-left: 5px;
    padding-right: 5px;
  }

  .playbar {
    color: white;
    display: flex;
  }

  #speed span {
    height: 15px;
  }

  #completion {
    margin-top: 33px;
    font-size: 30px;
    font-weight: bold;
  }

  .arrow {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin: 5px;
  }

  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  
  .left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }
  
  .up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }
  
  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }

  .performance {
    position: absolute;
    top: -80px;
    width: 100%;
    display: flex;

  }

  .addsettings {
	padding: 10px
  }

.etbutton {
  background-color: #04AA6D;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 2px;
}

.etbuttonactive {
  background-color: white;
  border: none;
  color: black;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  margin: 4px 2px;
  border-radius: 2px;
}

.etbuttoninactive {
  background-color: white;
  border: none;
  color: lightgray;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  margin: 4px 2px;
  border-radius: 2px;
}

.etprogress {
  background-color: yellow;
  text-align: center;
  position: fixed;
  bottom: 30px;
  width: 100%;
  color: black;
  font-size: 24px;
}

.synesthesiacolors {
  position: absolute;
  left: 200px;
  top:  195px;
}



